*
	font-family: 'Roboto', Arial, sans-serif
html,
body,
.main
	position: relative

body
	min-width: 600px
	background: $white
	font-size: 14px
	line-height: 1.4

.main
	margin: 0 auto
	max-width: 1200px

.row
	margin: -40px -20px
	+clr

.col
	position: relative
	float: left
	padding: 40px 20px
	width: 50%
	+md 
		width: 100%
	&:nth-child(1)
		&:before
			right: 0
	&:nth-child(2)
		+md 
			border-top: 1px solid $lightGray
		&:before
			left: -1px
	&:before
		content: ''
		position: absolute
		top: -20px
		bottom: -20px
		border-left: 1px solid $lightGray
		+md
			display: none

.sm-container
	margin: -20px

.sm-section
	padding: 40px 40px
	margin: 20px auto
	border: 1px solid $lightGray
	max-width: 880px
	&:first-child
		+md
			border-top: none
	+md
		margin: 0
		border-left: none
		border-right: none
		border-bottom: none
		max-width: none
	&_simple
		padding: 0
		margin: 0 auto
		border: none 
	// + .sm-section
	// 	border-top: 1px solid $lightGray


//text mods
.text-uppercase
	text-transform: uppercase
.text-center
	text-align: center

.color-red
	color: $red

.color-green
	color: $green