html,
body,
.main
	position: relative

html
	font-size: 16px

body
	color: $darkGray
	background: $lightGray
	font-family: $chalet
	font-size: 0.875rem
	line-height: 1.4

.label
	font-size: 0.875rem

strong
	font-family: $boost
	font-weight: 900