*
	font-family: 'Roboto', Arial, sans-serif
html,
body,
.main
	position: relative

body
	min-width: 600px
	background: $white
	font-size: 14px
	line-height: 1.4

.main
	margin: 0 auto
	max-width: 1200px


//text mods
.text-uppercase
	text-transform: uppercase

.color-red
	color: $red