---
title: Index page
heading: 'LendPro Account Lookup'
footer: { nextText: 'Submit', noPrev: true }
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<div class="form">
		<form action="/">
			<div class="form__field">
				<label class="form__label">Customer Key:</label>
				{{form.inputBox.call({
					placeholder: 'Input Customer Key'
				})}}
			</div>
			<div class="form__divider">or</div>
			<div class="form__field">
				<label class="form__label">Email:</label>
				{{form.inputBox.call({
					placeholder: 'Input Email'
				})}}
			</div>
			<div class="form__field">
				<label class="form__label">Last 4 of SSN:</label>
				{{form.inputBox.call({
					placeholder: 'Input Last 4 of SSN'
				})}}
			</div>
		</form>
	</div>

{% endblock %}
