---
title: Index page
heading: 'Customer: John Doe'
headingMeta: 'Financed Amount: $1000.00'
step: 2
footer: {
	noPrev: true,
	nextText: 'Continue'
}
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<div class="grid">
		<div class="grid__body">
			<div class="table">
				<div class="table__thead">
					<div class="table__tr">
						<div class="table__th" data-column="financed">Financed</div>
						<div class="table__th">Device</div>
						<div class="table__th">SKU</div>
						<div class="table__th">Unit Price</div>
					</div>
				</div>
				<div class="table__tbody">
					{% for item in range(0,6) %}
						<div class="table__tr">
							<div class="table__td" data-column="financed">{{form.checkbox.call()}}</div>
							<div class="table__td">Device Item {{loop.index}}</div>
							<div class="table__td">SKU {{loop.index}}</div>
							<div class="table__td">${{loop.index * 2}}.00</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	{% include 'partials/modals/_payment.html' %}
	{% include 'partials/modals/_xbm.html' %}
	{% include 'partials/modals/_return-device.html' %}

{% endblock %}
