---
title: Index page
heading: 'Please choose account type'
customStep: {
	4: { title: '...', description: '...' }
}
types: [
	{ icon: 'user-plus', title: 'New Account' },
	{ icon: 'user', title: 'Existing Account' }
]
footer: { noPrev: true }
stepsClassList: 'steps_green'
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<div class="type">
		<div class="type__row">
			{% for item in types %}
				<div class="type__col">
					<button class="type__btn" data-animation="ripple">
						<span class="type__btn-icon">{{mixins.icon(item.icon)}}</span>
						<span class="type__btn-title"><span>{{item.title}}</span></span>
					</button>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
