---
title: Index page
heading: 'Please choose the Sales Quote/Preauthorization tool, or add an additional line'
types: [
	{ icon: 'sales-quote', title: 'Sales Quote / Preauthorization' },
	{ icon: 'open-portal', title: 'Open Portal' }
]
step: 3
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<div class="type">
		<div class="type__row">
			{% for item in types %}
				<div class="type__col">
					<button class="type__btn" data-animation="ripple">
						<span class="type__btn-icon type__btn-icon_fill">{{mixins.icon(item.icon)}}</span>
						<span class="type__btn-title"><span>{{item.title}}</span></span>
					</button>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
