---
title: Modals
modals: [
	{
		target: 'error-question',
		link: 'There is no security question.',
		file: 'error-question',
		classList: 'modal_sm'
	}
]
---
{% extends "layouts/_layout.html" %}

{% block modalsContent %}

	<ul class="modals-list">
		{% for item in modals %}
			<li><a href="#" data-modal-target="{{item.target}}">{{item.link}}</a></li>
		{% endfor %}
	</ul>

	{% for item in modals %}
		<div class="modal {{item.classList}}" data-modal="{{item.target}}">
			<div class="modal__container" data-modal-container="{{item.target}}">
				{% include 'partials/modals/' + item.file + '.html' %}
			</div>
		</div>
	{% endfor %}

{% endblock %}
