---
title: Modals
modals: [
	{
		target: 'error-question',
		link: 'There is no security question.',
		file: 'error-question',
		classList: 'v-modal_sm'
	}
]
---
{% extends "layouts/_layout.html" %}

{% block modalsContent %}

	<ul class="v-modals-list">
		{% for item in modals %}
			<li><a href="javascript:void(0)" onclick="openModal(event, '{{item.target}}');">{{item.link}}</a></li>
		{% endfor %}
	</ul>

	{% for item in modals %}
		<div class="v-modal {{item.classList}}" data-modal-id="{{item.target}}" onclick="closeModalOnContainer(event);">
			<div class="v-modal__container">
				{% include 'partials/modals/' + item.file + '.html' %}
			</div>
		</div>
	{% endfor %}

	<script>
		function openModal(e, target) {
			e && e.preventDefault();
			var modal = document.querySelector('[data-modal-id="' + target + '"]');
			modal && modal
				.classList
				.add('is-open');
		}

		function closeModal(e, target) {
			e && e.preventDefault();
			var modal = document.querySelector('[data-modal-id="' + target + '"]');
			modal && modal
				.classList
				.remove('is-open');
		}

		function closeModalOnContainer(e) {
			if (e.target !== e.currentTarget) return;
			e.preventDefault();
			e
				.currentTarget
				.classList
				.remove('is-open');
		}
	</script>

{% endblock %}
