---
title: Index page
heading: 'Please enter the Mobile Number/IMEI and PIN to download the Transaction(s) to POS'
types: [
	{ icon: 'sm-sales-quote', title: 'Sales Quote / Preauthorization' },
	{ icon: 'sm-activation', title: 'Activation / Upgrade' },
	{ icon: 'sm-reactivation', title: 'Reactivation' },
	{ icon: 'sm-account-maintenance', title: 'Account Maintenance' }
]
footer: { 
	download: true
}
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<div class="form form_awesome-upgrade">
		<div class="form__fullheight-scrollable" data-scrollbar="default">
			<div class="form__inner">
				<div class="form__row">
					<div class="form__col">
						<label class="form__label">PIN:</label>
						{{form.inputBox.call({
							placeholder: 'Enter PIN'
						})}}
					</div>
					<div class="form__col">
						<label class="form__label">Security Question Text</label>
						{{form.inputBox.call({
							placeholder: 'Enter Answer'
						})}}
					</div>
				</div>
				<div class="form__row form__row_sticky">
					<div class="form__col">
						<label class="form__label">IMEI or Mobile #:</label>
					</div>
				</div>
				{% for item in range(0,5) %}
					<div class="form__row">
						<div class="form__col">
							{{form.inputBox.call({
								placeholder: 'Enter IMEI or Mobile Number'
							})}}
						</div>
						<div class="form__col">
							{{form.inputBox.call({
								placeholder: 'Enter IMEI or Mobile Number'
							})}}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="form__sticky-actions">
			<div class="form__field form__field_wide">
				<div class="form__subtitle">Add another transaction to this order or download to POS to сontinue</div>
			</div>
			<div class="type type_md">
				<div class="type__row">
					{% for item in types %}
						<div class="type__col">
							{#<button class="type__btn" data-animation="ripple" type="button">
								<span class="type__btn-icon type__btn-icon_fill">{{mixins.icon(item.icon)}}</span>
								<span class="type__btn-title"><span>{{item.title}}</span></span>
							</button>#}
							<button class="sm-btn" data-animation="ripple" type="button">
								<span class="sm-btn__icon">{{mixins.icon(item.icon)}}</span>
								<span class="sm-btn__title">{{item.title}}</span>
							</button>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
