---
title: Index page
heading: 'Choose either portal to proceed'
types: [
	{ icon: 'open-portal', title: 'Open EDGE' },
	{ icon: 'upgrade', title: 'Open ASAP' }
]
step: 1
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<div class="type">
		<div class="type__row">
			{% for item in types %}
				<div class="type__col">
					<button class="type__btn" data-animation="ripple">
						<span class="type__btn-icon type__btn-icon_fill">{{mixins.icon(item.icon)}}</span>
						<span class="type__btn-title"><span>{{item.title}}</span></span>
					</button>
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="note">
		<p><strong>REMINDER:</strong> If EDGE begins experiencing issues during any customer transactions <em>(Activations, Upgrades, device changes, etc.)</em>, please use ASAP to complete customer transactions.</p>
	</div>

{% endblock %}
