---
title: Schedule a review
---
{% extends "layouts/_layout-pages.html" %}

{% block content %}
	
	<div class="page__text">
		<p>OLR Identifier, Client ID, Company name</p>
	</div>
	<form action="/" class="page__form">
		<div class="page__field">
			<input type="text" class="simple-input" placeholder="Contact person">
		</div>
		<div class="page__field">
			<input type="text" class="simple-input" placeholder="Contact number">
		</div>
		<div class="page__field">
			<input type="text" class="simple-input" placeholder="Email">
		</div>
		<div class="page__field">
			<input type="text" class="simple-input js-datepicker" placeholder="Suggested Date & Time">
		</div>
		<div class="page__submit">
			<button class="btn btn_primary btn_lg btn_block" data-animation="ripple">Submit</button>
		</div>
	</form>

{% endblock %}
