---
title: Index page
heading: 'Please choose contract type'
types: [
	{ icon: 'esn-change', title: 'IMEI/ESN Change' },
	{ icon: 'feature-change', title: 'Feature Change' },
	{ icon: 'mdn-change', title: 'MDN Change' },
	{ icon: 'service-change', title: 'Service Plan Change' }
]
step: 1
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<div class="type">
		<div class="type__row">
			{% for item in types %}
				<div class="type__col">
					<button class="type__btn" data-animation="ripple">
						<span class="type__btn-icon type__btn-icon_fill">{{mixins.icon(item.icon)}}</span>
						<span class="type__btn-title"><span>{{item.title}}</span></span>
					</button>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
