---
title: Index page
heading: 'Please enter the Mobile Number/IMEI and PIN to check Upgrade Promotional&nbsp;Pricing&nbsp;eligibility.'
step: 2
customStep: {
	3: { title: 'Upgrade Eligibility Check', description: 'Upgrade Eligibility Check' }
}
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<div class="form form_md">
		<form action="/">
			<div class="form__row">
				<div class="form__col">
					<div class="form__field">
						<label class="form__label">PIN:</label>
						{{form.inputBox.call({
							placeholder: 'Input PIN'
						})}}
					</div>
				</div>
				<div class="form__divider">or</div>
				<div class="form__col">
					<div class="form__field">
						<label class="form__label">Security Question Text</label>
						{{form.inputBox.call({
							placeholder: 'Input Answer'
						})}}
					</div>
				</div>
			</div>
			<div class="form__row">
				<div class="form__col">
					<div class="form__field">
						<label class="form__label">IMEI:</label>
						{{form.inputBox.call({
							placeholder: 'Input IMEI'
						})}}
					</div>
				</div>
				<div class="form__divider">or</div>
				<div class="form__col">
					<div class="form__field">
						<label class="form__label">Mobile #:</label>
						{{form.inputBox.call({
							placeholder: 'Input Mobile Number'
						})}}
					</div>
				</div>
			</div>
			<div class="form__field">
				<button class="btn btn_blue btn_lg btn_block">Check Upgrade Eligibility</button>					
			</div>
		</form>
	</div>

{% endblock %}
