---
title: Index page
heading: 'Please enter the Mobile Number to check Port-In Promotional&nbsp;Pricing&nbsp;eligibility.'
step: 2
customStep: {
	3: { title: 'Port Eligibility Check', description: 'Port Eligibility Check' }
}
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<div class="form">
		<form action="/">
			<div class="form__field">
				<label class="form__label">Mobile Number:</label>
				{{form.inputBox.call({
					placeholder: 'Input Mobile Number',
					classList: 'is-error',
					errorMessage: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, vero.'
				})}}
			</div>
			<div class="form__field">
				<label class="form__label">Result:</label>
				<div class="form__text color-green">{{mixins.icon('check')}} Mobile Number is eligible for Port-In Promotional Pricing</div>
				<div class="form__text color-red">{{mixins.icon('error')}} Mobile Number is non-eligible for Port-In Promotional Pricing</div>
			</div>
			<div class="form__field">
				<button class="btn btn_primary btn_lg btn_block">Check Port-In Eligibility</button>					
			</div>
		</form>
	</div>

{% endblock %}
