$white: #fff
$black: #000
$primary: #141547
$primaryActive: darken(#141547, 5%)
$secondary: #9784ff
$secondaryActive: darken(#9784ff, 5%)

$azure: #ecf7fd
$azureActive: #c7e7f9

// $green: #66BB6A
$green: darken(#22B745, 10%)
$greenActive: #4cac51

$darkGray: #333
$mediumGray: #999
$lightGray: #eee
$lightGrayActive: #dadada

$silverGray: #aaa
$alabaster: #f8f8f8

$eb: #ebebeb

$orange: #FF6431

$redOld: #e74c3b
$red: darken(#ec4a41, 10%)
$redActive: darken(#ec4a41, 15%)

$yellow: #f0e68c