//FONTS
=fontpath($name, $name1, $file)
	src: local($name), local($name1), url("../fonts/" + $file + ".woff2") format("woff2"), url("../fonts/" + $file + ".woff") format("woff")
=fontdefault($style, $weight, $name)
	font-family: $name
	font-style: $style
	font-weight: $weight

@font-face
	+fontdefault(normal, 400, $chalet)
	+fontpath('Chalet LondonNineteenSixty', 'Chalet-LondonNineteenSixty', chalet_london_nineteen_sixty)
@font-face
	+fontdefault(normal, 900, $boost)
	+fontpath('Boost Neo Black', 'Boost-Neo-Black', boost_neo-black)