<!-- begin panel-button -->
<div class="panel-button">
	<div class="panel-button__inner">
		<div class="panel-button__left">
			<button class="btn btn_lg btn_red" data-animation="ripple">Cancel</button>
		</div>
		<div class="panel-button__right">
			<button class="btn btn_lg btn_primary panel-button__btn" data-step-direction="prev" data-animation="ripple">Previous</button>
			<button class="btn btn_lg btn_green panel-button__btn" data-animation="ripple">Button text</button>
		</div>
	</div>
</div>
<!-- end panel-button -->