<!-- begin footer -->
<footer class="footer">
	<div class="footer__left">
		<button class="btn btn_lg btn_red" data-animation="ripple">Cancel</button>
	</div>
	{% if not noFooterButtons %}
		<div class="footer__right">
			{% if footer.noPrev != true %}
				<div class="footer__btn">
					<button class="btn btn_lg btn_primary" data-step-direction="prev" data-animation="ripple">{{footer.prevText or 'Previous'}}</button>
				</div>
			{% endif %}
			{% if footer.download %}
				<div class="footer__btn">
					<button class="btn btn_lg btn_green" data-animation="ripple">Download to POS</button>
				</div>
			{% else %}
				{% if not footer.noNext %}
					<div class="footer__btn tooltip-wrapper">
						{% if footer.nextTooltip %}
							<div class="tooltip tooltip_right footer__tooltip">
								<div class="tooltip__inner">
									{{mixins.icon('information', 'tooltip__icon')}}
									<p>{{footer.nextTooltip | safe}}</p>
								</div>
							</div>
						{% endif %}
						<button class="btn btn_lg btn_primary" data-step-direction="next" data-animation="ripple">{{footer.nextText or 'Next'}}</button>
					</div>
				{% endif %}
			{% endif %}
		</div>
	{% endif %}
</footer>
<!-- end footer -->