.box
	padding: 15px 10px
	background: #f2f3f4
	font-size: 0
	&__item
		display: inline-block
		vertical-align: top
		padding: 5px 10px
		width: 50%
		font-size: 1rem
		+clr
	&__label,
	&__value
		float: left
	&__label
		padding-top: 1px
		width: 50%