.footer
	// position: absolute
	// left: 0
	// right: 0
	// bottom: 0
	padding: 40px 20px 20px
	font-size: 0
	+clr
	&__left
		float: left
	&__right
		float: right
	.btn + .btn
		margin-left: 20px
	.btn
		min-width: 120px