.panel-button
	padding: 20px
	background: $white
	font-size: 0
	&__inner
		margin: 0 auto
		max-width: 1200px
		+clr
	&__left
		float: left
	&__right
		float: right
	&__btn
		position: relative
		display: inline-block
		vertical-align: top
		min-width: 120px
		&:not(:first-child)
			margin-left: 20px
