.icon-account-maintenance {
  width: 0.55em;
  height: 1em;
  fill: #3598D4;
}
.icon-activation {
  width: 0.88em;
  height: 1em;
  fill: initial;
}
.icon-angle-down {
  width: 1.71em;
  height: 1em;
  fill: initial;
}
.icon-check {
  width: 1.11em;
  height: 1em;
  fill: #38AA35;
}
.icon-checked {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-dollar {
  width: 0.54em;
  height: 1em;
  fill: initial;
}
.icon-error {
  width: 1.01em;
  height: 1em;
  fill: #E5231F;
}
.icon-esn-change {
  width: 0.55em;
  height: 1em;
  fill: initial;
}
.icon-feature-change {
  width: 0.55em;
  height: 1em;
  fill: #3598D4;
}
.icon-information {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-mdn-change {
  width: 0.55em;
  height: 1em;
  fill: #3598D4;
}
.icon-new-activation {
  width: 0.88em;
  height: 1em;
  fill: initial;
}
.icon-open-asap {
  width: 0.55em;
  height: 1em;
  fill: #3598D4;
}
.icon-open-portal {
  width: 0.55em;
  height: 1em;
  fill: #827DBA;
}
.icon-port-in-activation {
  width: 0.88em;
  height: 1em;
  fill: initial;
}
.icon-port-in-add-a-line {
  width: 0.88em;
  height: 1em;
  fill: initial;
}
.icon-reactivation {
  width: 0.88em;
  height: 1em;
  fill: initial;
}
.icon-sales-quote {
  width: 1em;
  height: 1em;
  fill: #827DBA;
}
.icon-service-change {
  width: 0.55em;
  height: 1em;
  fill: none;
}
.icon-sm-account-maintenance {
  width: 1.04em;
  height: 1em;
  fill: #3598D4;
}
.icon-sm-activation {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-sm-reactivation {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-sm-sales-quote {
  width: 1em;
  height: 1em;
  fill: #827DBA;
}
.icon-upgrade {
  width: 0.88em;
  height: 1em;
  fill: initial;
}
.icon-user-plus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-user {
  width: 1em;
  height: 1em;
  fill: initial;
}
