.icon-new-activation {
  width: 0.72em;
  height: 1em;
  fill: initial;
}
.icon-port-in-activation {
  width: 0.72em;
  height: 1em;
  fill: initial;
}
.icon-user-plus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-user {
  width: 1em;
  height: 1em;
  fill: initial;
}
